<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width ,initial-scale=1.0">
    <title>Aboutme</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='pokemon.ico') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crosssporigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&dilay=swap" rel="stylesheet">
    <link rel="stylesheet" href="./static/style.css">
   <link rel="stylesheet" href="./static/aboutme.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>



</head>

<body>

    <body>
        <nav>
            <div class="nav-content">
                <label class="logo"><a href="#"> Site</a></label>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="AboutMe.html">AboutMe</a></li>
                    <li><a href="portfolio.html">Portfolio</a></li>
                    <li><a href="contactme.html">Contact</a></li>

                </ul>
            </div>
        </nav>

        <section class="section-aboutme">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <p class="title">About Me</p>
            <div class="aboutme_image">
                <img src="./static/assets/mainpic.jpg" alt="img" width="350px">
            </div>
            <p class="introduce"> " Hello there! I'm Chan Chun Kiu from Hong Kong, and I pursued my education at the University of Aizu. Recently, I am engaged in expanding my proficiency in Python programming, web
                development, and Blender. I am actively exploring roles that harmonize with my skill set and ambitions. Proficient in English, Japanese, Cantonese, and Chinese, I'm equipped to connect with diverse communities. 
                During my moments away from coding and designing, I take pleasure in the world of reading and gaming, where stories come to life. My goal is to uncover opportunities that resonate with my skills and ambitions, 
                enabling me to create a purposeful impact. Don't hesitate to reach out – I'm excited to connect! "

            </p>
        </section>
        <section class = "socialmedia">

            <div class="wrapper">
                
                <a href = "https://www.instagram.com/origino430/" class="button">
                    <div class="icon">
                        <i class="fab fa-instagram"></i>
                    </div>
                    <span>Instagram</span>
                </a>
                <a href = "https://www.github.com/chanchunkiu" class="button">
                    <div class="icon">
                        <i class="fab fa-github"></i>
                    </div>
                    <span>Github</span>
                </a>
                <a href = "https://www.youtube.com/@ori592" class="button">
                    <div class="icon">
                        <i class="fab fa-youtube"></i>
                    </div>
                    <span>YouTube</span>
                </a>
            </div>
        </section>
     
            
          
    
    </body>

</html>