<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width ,initial-scale=1.0">
    <title>Contact Me</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='pokemon.ico') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crosssporigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&dilay=swap" rel="stylesheet">
    <link rel="stylesheet" href="./static/style.css">
    <link rel="stylesheet" href="./static/aboutme.css">
    <link rel="stylesheet" href="./static/contactme.css">


</head>

<body>

    <body>
        <nav>
            <div class="nav-content">
                <label class="logo"><a href="#"> Site</a></label>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="AboutMe.html">AboutMe</a></li>
                    <li><a href="portfolio.html">Portfolio</a></li>
                    <li><a href="contactme.html">Contact</a></li>

                </ul>
            </div>
        </nav>
        <div class="container">
            <h2 class="contact-title">Contact Me</h2>
            <form action="submit_form" method ="post">
                <div class="submit-input">
                    <div class="submit-data"><input type="text" name="name" placeholder="Name" required></div>
                    <div class="submit-data"><input type="email" name="email" placeholder="Email" required></div>
                    <div class="submit-message">
                        <textarea name="message" placeholder="Message"></textarea>
                    </div>
                    <div class="submit-message">
                        <input type="submit" value="Send" />
                    </div>
                </div>
            </form>



    </body>

</html>