<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width ,initial-scale=1.0">
    <title>portfolio</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='pokemon.ico') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crosssporigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&dilay=swap" rel="stylesheet">
    <link rel="stylesheet" href="./static/style.css">
</head>

<body>
    <nav>
        <div class="nav-content">
            <label class="logo"><a href="#"> Site</a></label>
            <ul>
                <li><a href="index.html">Home</a></li>
                    <li><a href="AboutMe.html">AboutMe</a></li>
                    <li><a href="portfolio.html">Portfolio</a></li>
                    <li><a href="contactme.html">Contact</a></li>

            </ul>
        </div>
    </nav>

    <section class="section">
        <div class="section-container">
            <div class="content">
                <p class="subtitle">HELLO</p>
                <h1 class="name">I am <span>Chan Chun Kiu</span> </h1>
                <div class="animated-text">
                    <span></span>
                </div>
                <p class="descirption">

                </p>
            </div>
            <div class="image">
                <img src="./static/assets/main.jpg" alt="img" width="200px">
            </div>
        </div>

    </section>
</body>

</html>