<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width ,initial-scale=1.0">
    <title>Contact Me</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='pokemon.ico') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crosssporigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&dilay=swap" rel="stylesheet">
    <link rel="stylesheet" href="./static/style.css">
    <link rel="stylesheet" href="./static/aboutme.css">
    <link rel="stylesheet" href="./static/contactme.css">


</head>

<body>

    <body>
        <nav>
            <div class="nav-content">
                <label class="logo">Site</label>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="AboutMe.html">AboutMe</a></li>
                    <li><a href="portfolio.html">Portfolio</a></li>
                    <li><a href="contactme.html">Contact</a></li>

                </ul>
            </div>
        </nav>
        <div class="container">
            
            <h2 class="contact-title">Contact Me</h2>
            <br>
            <br>
            <p >Thankyou for reaching out! I have recieved your submission and will get back to you as soon as possible. </p>
           </div>
</form>
    </body>

</html>